// Font variables
$lexend-font: 'Lexend Deca', sans-serif;
$inter-font: 'Inter', sans-serif;

//Colors variables
$very-bark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$darker-transparent-white: hsla(0, 0%, 100%, 0.6);

//border radius of card
$border-radius: 8px;

// Responsive break point
$responsive-break-point: 1010px;

html, body{
    height: 100%;
    font-family: $inter-font;
    color: $darker-transparent-white;
}
// Body
body{
    font-size: 15px;
    background-color: $very-bark-blue;
    margin: 0;
    @media screen and (min-width: $responsive-break-point) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Start - Background
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (max-width: $responsive-break-point) {
        margin: 20% 0;
    }
}
// End - Background

// Card
.card{
    background-color: $dark-desaturated-blue;
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    border-radius: $border-radius;

    @media screen and (max-width: $responsive-break-point) {
        flex-direction: column-reverse;
        align-items: center;    
    }
}

// Start - Text side
.text-side{
    display: flex;
    flex-direction: column;
    margin: 6% 8% 4% 6%;
    justify-content: space-around;
    max-width: 650px;
    @media screen and (max-width: $responsive-break-point) {
        margin: 0;
    }
}

.texts {
    @media screen and (max-width: $responsive-break-point) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5% 6%;
    }
}

.highlight{
    color: $soft-violet;
}

.title{
   font-family: $inter-font;
   font-weight: 400;
   color: $white;
   h1{
    margin-top: 0;
   }
}

.subtitle{
    font-family: $inter-font;
    color: $slightly-transparent-white;
    margin-bottom: 15%;

    @media screen and (max-width: $responsive-break-point) {
        padding: 0 5%;
        line-height: 1.5em;
    }

    p {
        line-height: 1.7em;
        @media screen and (max-width: $responsive-break-point) {
            margin: 0;
        }
    }
}

.number{
    font-family: $inter-font;
    font-weight: 700;
    font-size: 1.3em;
    color: $white;
    @media screen and (max-width: $responsive-break-point) {
        margin-bottom: 5%;
    }
}
.category{
    font-family: $lexend-font;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    color: $darker-transparent-white;
    letter-spacing: 0.1em;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    p{
        margin: 0;
    }
    @media screen and (max-width: $responsive-break-point) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.8em;
        margin-bottom: 10%;
    }
}
// End - Text side


// Start - Image side
.image-side{
    background-color: $soft-violet;
    border-radius: 0 $border-radius $border-radius 0;
    display: flex;
    width: 100%;

    @media screen and (max-width: $responsive-break-point) {
        border-radius: $border-radius $border-radius 0 0;
    }
    
    img{
        opacity: 0.5;
        border-radius: 0 $border-radius $border-radius 0;
        
        @media screen and (max-width: $responsive-break-point) {
            border-radius: $border-radius $border-radius 0 0;
            width: 100%;
        }
    }
}

.mobile-image{
    display: none;

    @media screen and (max-width: $responsive-break-point) {
        display: block;
    }
}

.desktop-image{
    display: block;

    @media screen and (max-width: $responsive-break-point) {
        display: none;
    }
}
// End - Image side

// Attribution
.attribution{
    margin-top: 1%;
}